Lab-7/arithmetic.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://example.com/arithmetic"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    targetNamespace="http://example.com/arithmetic">

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.com/arithmetic">
            <xs:element name="addRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="a" type="xs:int"/>
                        <xs:element name="b" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="subtractRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="a" type="xs:int"/> 
                        <xs:element name="b" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="subtractResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="addRequestMessage">
        <wsdl:part name="parameters" element="tns:addRequest"/>
    </wsdl:message>

    <wsdl:message name="addResponseMessage">
        <wsdl:part name="parameters" element="tns:addResponse"/>
    </wsdl:message>

    <wsdl:message name="subtractRequestMessage">
        <wsdl:part name="parameters" element="tns:subtractRequest"/>
    </wsdl:message>

    <wsdl:message name="subtractResponseMessage">
        <wsdl:part name="parameters" element="tns:subtractResponse"/>
    </wsdl:message>

    <wsdl:portType name="ArithmeticPortType">
        <wsdl:operation name="add">
            <wsdl:input message="tns:addRequestMessage"/>
            <wsdl:output message="tns:addResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="subtract">
            <wsdl:input message="tns:subtractRequestMessage"/> 
            <wsdl:output message="tns:subtractResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ArithmeticBinding" type="tns:ArithmeticPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="http://example.com/arithmetic/add"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="subtract">
            <soap:operation soapAction="http://example.com/arithmetic/subtract"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ArithmeticService">
        <wsdl:port name="ArithmeticPort" binding="tns:ArithmeticBinding">
            <soap:address location="http://localhost:8080/arithmetic"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>